body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #34495e;
    padding: 10px 0;
}

.menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    /* 左右の間隔を広げる */
    color: white;
    cursor: pointer;
}

.menu>li:hover {
    background-color: #3b5998;
}

.menu>li>ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* ドロップダウンメニューが隠れないようにする */
}

.menu>li:hover>ul {
    display: block;
}

.menu>li>ul>li {
    padding: 10px 20px;
    color: white;
    white-space: nowrap;
}

.menu>li>ul>li a {
    color: white;
    text-decoration: none;
}

.menu>li>ul>li:hover {
    background-color: #3b5998;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c3e50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.back-button {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #aaadaf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.back-button:hover {
    background-color: #3c3d3e;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #3c78e7, #12f3ce);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

@media (max-width: 600px) {
    main {
        margin: 10px;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }
}
